<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="height: 460px;">
          <div class="card-header card-header-danger sticky-top fixed">
            <h4 class="card-title">Liste des entreprises</h4>
            <p class="card-category">
              <a routerLink="/admin/entreprise/create" class="btn btn-outline-primary float-right ">Ajouter
                Entreprise</a>
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive" style="max-height: 350px; overflow-y: auto;">
              <table class="table">
                <thead class="text-primary text-center">
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Addresse</th>
                  <th>Telephone</th>
                  <th>Site Web</th>
                  <th>E-Mail</th>
                  <th class="text-center" style="text-align: center">Action</th>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let entreprise of entreprises">
                    <td>{{ entreprise.id }}</td>
                    <td>{{ entreprise.nom }}</td>
                    <td>{{ entreprise.address }}</td>
                    <td>{{ entreprise.tel }}</td>
                    <td>{{ entreprise.url }}</td>
                    <td>{{ entreprise.email }}</td>
                    <td class="text-center">
                      <a [routerLink]="[
                          '/admin/entreprise',
                          entreprise.id,
                          'details'
                        ]" class="btn btn-outline-info mx-1">Details</a>
                      <button [routerLink]="[
                          '/admin/entreprise',
                          entreprise.id,
                          'edit'
                        ]" class="btn btn-outline-warning mx-1">
                        Edit
                      </button>
                      <button (click)="deleteEntreprise(entreprise.id)" class="btn btn-outline-danger mx-1">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>