<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des entreprises</h4>
                        <p class="card-category">  <a routerLink="/entreprise/create"
                            class="btn btn-outline-primary float-right"
                            >Ajouter Item</a></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        nom
                                    </th>
                                    <th>
                                        address
                                    </th>
                                    <th>
                                        tel
                                    </th>
                                    <th>
                                        url
                                    </th>
                                    <th>
                                        email
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let entreprise of entreprises">
                                    <td>{{entreprise.id}}</td>
                                    <td>{{entreprise.nom}}</td>
                                    <td>{{entreprise.address}}</td>
                                    <td>{{entreprise.tel}}</td>
                                    <td>{{entreprise.url}}</td>
                                    <td>{{entreprise.email}}</td>
                                    <td>
                                    <a [routerLink]="['/entreprise',entreprise.id,'details']"
                                    class="btn btn-outline-info mx-1">Details</a>
                                    <a [routerLink]="['/entreprise',entreprise.id,'edit']"
                                    class="btn btn-outline-success mx-1">Edit</a>
                                    <button (click)="deleteEntreprise(entreprise.id)" class="btn btn-outline-danger mx-1">Delete</button>
                                    </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  