<!--begin::Form-->
<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form"
    data-kt-redirect-url="../../demo1/dist/authentication/layouts/overlay/sign-in.html" action="#">
    <!--begin::Heading-->
    <div class="text-center mb-11">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">Sign Up</h1>
        <!--end::Title-->
        <!--begin::Subtitle-->
        <div class="text-gray-500 fw-semibold fs-6">Your Social Campaigns</div>
        <!--end::Subtitle=-->
    </div>
    <div class="fv-row mb-8">
        <!--begin::Name-->
        <input type="text" placeholder="Name" [(ngModel)]="name" id="name" name="name" autocomplete="off" class="form-control bg-transparent"
            required />
        <!--end::Name-->
    </div>
    <!-- <div class="fv-row mb-8">
        
        <input type="email" placeholder="E-mail" [(ngModel)]="email" id="email" name="email" autocomplete="off" class="form-control bg-transparent" required />
        
    </div> -->
    <div class="fv-row mb-8">
        <!-- Email -->
        <input type="email" placeholder="E-mail" [(ngModel)]="email" id="email" name="email" autocomplete="off" class="form-control bg-transparent" required #emailInput="ngModel" />
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
          <div *ngIf="emailEmptyError" class="text-danger">Email is required</div>
          <div *ngIf="emailFormatError" class="text-danger">Invalid email format</div>
        </div>
      </div>
    <!--begin::Input group-->
    <div class="fv-row mb-8" data-kt-password-meter="true">
        <!--begin::Wrapper-->
        <div class="mb-1">
            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">
                <input class="form-control bg-transparent" type="password" placeholder="Password" id="password"
                    [(ngModel)]="password" name="password" autocomplete="off" required />
            </div>
        </div>
    </div>
    <div class="fv-row mb-8">
        <!--begin::Repeat Password-->
        <input placeholder="Repeat Password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword"
            type="password" autocomplete="off" class="form-control bg-transparent" required />
        <div *ngIf="password !== confirmPassword" class="text-danger">Passwords do not match</div>
        <!--end::Repeat Password-->
    </div>
    <div class="fv-row mb-8">
        <!--begin::Competences-->
        <input type="text" placeholder="Competences" [(ngModel)]="competences" id="competences" name="competences" class="form-control bg-transparent" required />
        <!--end::Competences-->
    </div>
    <!--end::Accept-->
    <!--begin::Submit button-->
    <div class="d-grid mb-10">
        <button [disabled]="isSubmitting" (click)="signupFormator()" type="submit" id="kt_sign_up_submit" class="btn btn-primary">
            <!--begin::Indicator label-->
            <span class="indicator-label">Sign up</span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            <!--end::Indicator progress-->
        </button>
    </div>
    <!--end::Submit button-->
    <!--begin::Sign up-->
    <div class="text-gray-500 text-center fw-semibold fs-6">Already have an Account?
        <a href="#/auth/login" class="link-primary fw-semibold">Sign
            in</a>
    </div>
    <!--end::Sign up-->
</form>
<!--end::Form-->