<!--begin::Form-->
<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form"
    data-kt-redirect-url="../../demo1/dist/authentication/layouts/overlay/sign-in.html" action="#"
    [formGroup]="signupForm"
              (ngSubmit)="signupFormator()">
    <!--begin::Heading-->
    <div class="text-center mb-11">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">Sign Up</h1>
        <!--end::Title-->
        <!--begin::Subtitle-->
        <div class="text-gray-500 fw-semibold fs-6">Your Social Campaigns</div>
        <!--end::Subtitle=-->
    </div>
    <div class="fv-row mb-8">
        <!--begin::Name-->
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <label *ngIf="name.errors?.['required']" class="text-danger">
              Name required</label
            >
        </div>
        <input type="text" placeholder="Name" formControlName="name" id="name" name="name" autocomplete="off" class="form-control bg-transparent" required/>
        <!--end::Name-->
    </div>
    <!-- <div class="fv-row mb-8">
        
        <input type="email" placeholder="E-mail" [(ngModel)]="email" id="email" name="email" autocomplete="off" class="form-control bg-transparent" required />
        
    </div> -->
    <div class="fv-row mb-8">
        <!-- Email -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <label *ngIf="email.errors?.['required']" class="text-danger">
              E-mail required</label
            >
            <label *ngIf="email.errors?.['email']" class="text-danger">
              Enter a correct e-mail form</label
            >
        </div>
        <input type="email" placeholder="E-mail" formControlName="email" id="email" name="email" autocomplete="off" class="form-control bg-transparent" required/>
    </div>

    <!--begin::Input group-->
    <div class="fv-row mb-8" data-kt-password-meter="true">
        <!--begin::Wrapper-->
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <label *ngIf="password.errors?.['required']" class="text-danger">
              Password required
            </label>
        </div>
        <input class="form-control bg-transparent" type="password" placeholder="Password" id="password"
        formControlName="password" name="password" autocomplete="off" required />
    </div>

    <div class="fv-row mb-8">
        <!--begin::Repeat Password-->
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) && password !== confirmPassword">
            <label *ngIf="confirmPassword.errors?.['required']" class="text-danger">
                Password required
            </label>
        </div>    
        <input placeholder="Repeat Password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword"
            type="password" autocomplete="off" class="form-control bg-transparent" required />

        <!-- <div *ngIf="password.value !== confirmPassword.value" class="text-danger">Passwords do not match</div> -->
        <!--end::Repeat Password-->
    </div>

    <div class="fv-row mb-8">
        <!--begin::Competences-->
        <div *ngIf="competences.invalid && (competences.dirty || competences.touched)">
            <label *ngIf="competences.errors?.['required']" class="text-danger">
                Competences required</label
            >
        </div>
        <input type="text" placeholder="Competences" formControlName="competences" id="competences" name="competences" class="form-control bg-transparent" required />
        <!--end::Competences-->
    </div>
    <!--end::Accept-->
    <!--begin::Submit button-->
    <div class="d-grid mb-10">
        <button [disabled]="isSubmitting" 
        [disabled]="!signupForm.valid || password.value !== confirmPassword.value" type="submit" id="kt_sign_up_submit" class="btn btn-primary">
            <!--begin::Indicator label-->
            <span class="indicator-label">Sign up</span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            <!--end::Indicator progress-->
        </button>
    </div>
    <!--end::Submit button-->
    <!--begin::Sign up-->
    <div class="text-gray-500 text-center fw-semibold fs-6">Already have an Account?
        <a href="#/auth/login" class="link-primary fw-semibold">Sign
            in</a>
    </div>
    <!--end::Sign up-->
</form>
<!--end::Form-->