<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Modifier une formation</h4>
            <div class="card-category">
              <!-- if we know the link we type normally, if like delete a list we use [] -->
              <a
                class="btn btn-outline-warning float-right"
                routerLink="/admin/dashboard"
                >Toutes les formations</a
              >
            </div>
          </div>

          <div class="card-body">
            <form action="">
              <div class="form-group">
                <!-- NOM -->
                <label for="nom">Nom de Formation</label>
                <!-- ngModel same name in ts -->
                <input
                  [(ngModel)]="formation.nom"
                  class="form-control"
                  type="text"
                  name="nom"
                  id="nom"
                  required
                />

                <label for="categorie">Categorie</label>

                <textarea
                  rows="4"
                  [(ngModel)]="formation.categorie"
                  class="form-control"
                  type="text"
                  name="categorie"
                  id="categorie"
                ></textarea>

                <label for="objectif">Objectif</label>
                <input
                  [(ngModel)]="formation.objectif"
                  class="form-control"
                  type="text"
                  name="objectif"
                  id="objectif"
                />

                <label for="duree">Duree</label>
                <input
                  [(ngModel)]="formation.duree"
                  class="form-control"
                  type="number"
                  name="duree"
                  id="duree"
                />

                <label for="description">Description</label>
                <input
                  [(ngModel)]="formation.description"
                  class="form-control"
                  type="text"
                  name="description"
                  id="description"
                />

                <label for="cout">Cout</label>
                <input
                  [(ngModel)]="formation.cout"
                  class="form-control"
                  type="number"
                  name="cout"
                  id="cout"
                  required
                />

                <label for="dateDebut">Date de debut de formation:</label>
                <input
                  [(ngModel)]="formation.dateDebut"
                  class="form-control"
                  type="date"
                  name="dateDebut"
                  id="dateDebut"
                  required
                />

                <label for="dateFin">Date de fin de formation:</label>
                <input
                  [(ngModel)]="formation.dateFin"
                  class="form-control"
                  type="date"
                  name="dateFin"
                  id="dateFin"
                  required
                />

                <label for="formateur">Select Formateur:</label>
                <select
                  class="form-control btn btn-outline-primary mt-3"
                  id="formateur"
                  (change)="onFormateurSelected($event.target.value)"
                >
                <option *ngIf="formation.formateur === null"
                   
                [value]="0"
              >
                - No Formateur: Select to change -
              </option>
                  <option *ngIf="formation.formateur !== null" [value]="formation.formateur.id">
                    {{ formation.formateur.name }}
                  </option>
                  <option
                    *ngFor="let formateur of formateurs"
                    [value]="formateur.id"
                  >
                    {{ formateur.name }}
                  </option>
                  <option [value]="0" *ngIf="formation.formateur !== null">
                    - No Formateur : Remove current formateur -
                  </option>
                </select>

                <label for="entreprise">Select Entreprise:</label>
                <select
                  class="form-control btn btn-outline-primary mt-3"
                  id="entreprise"
                  (change)="onEntrepriseSelected($event.target.value)"
                >
                <option *ngIf="formation.entreprise === null"
                   
                [value]="0"
              >
               - No Entreprise : Select to change -
              </option>
                  <option *ngIf="formation.entreprise !== null" [value]="formation.entreprise.id">
                    {{ formation.entreprise.nom }}
                  </option>
                  <option
                    *ngFor="let entreprise of entreprises"
                    [value]="entreprise.id"
                  >
                    {{ entreprise.nom }}
                  </option>
                  <option [value]="0" *ngIf="formation.entreprise !== null">
                    - No Entreprise : Remove current entreprise -
                  </option>
                </select>

                <button
                  [disabled]="isSubmitting"
                  (click)="editFormation()"
                  type="button"
                  class="form-control btn btn-outline-info mt-3"
                >
                  Modifier la formation
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
