<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="img">
                    <img src="/assets/img/angular.png"/>
                  </div>
                  <div class="card-body">

                        <tr *ngFor="let formation of formations">
                        <td>{{formation.id}}</td>
                        <td>{{formation.nom}}</td>                       
                        <td>
                        <a [routerLink]="['/formation',formation.id,'details']"
                        class="btn btn-outline-info mx-1">Details</a>
                        <a [routerLink]="['/formation',formation.id,'edit']"
                        class="btn btn-outline-success mx-1">Edit</a>
                        <button (click)="deleteformation(formation.id)" class="btn btn-outline-danger mx-1">Delete</button>
                        </td>
                        </tr>
                      
                
                      <h4 class="card-title">Angular</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
