<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <p class="card-category" *ngIf="permission">
        <a
          routerLink="/admin/formation/create"
          class="btn btn-danger float-right"
          >Ajouter Formation</a
        >
      </p>
      <div class="col-md-4 mb-14" *ngFor="let formation of formations">
        <div class="card card-chart">
          <div
            [ngClass]="{
              'card-header-success': formation.formateur !== null,
              'card-header-danger': formation.formateur === null,
              'card-header-warning': formation.entreprise === null
            }"
          >
            <div class="img">
              <img
                class="pt-4"
                *ngIf="formation.imageName !== null; else defaultImage"
                [src]="
                  'http://localhost:8080/formation/' + formation.id + '/image'
                "
                width="200"
                height="150"
              />
              <ng-template #defaultImage>
                <img
                  class="pt-4"
                  src="/assets/img/angular.png"
                  width="200"
                  height="150"
                />
              </ng-template>
            </div>
          </div>
          <div class="card-body">
            <a
              [routerLink]="['/admin/formation', formation.id, 'details']"
              class="btn btn-outline-info mx-1"
              >Details</a
            >
            <a
              [routerLink]="['/admin/formation', formation.id, 'edit']"
              class="btn btn-outline-success mx-1"
              >Edit</a
            >
            <button
              *ngIf="permission"
              (click)="deleteFormation(formation.id)"
              class="btn btn-outline-danger mx-1"
            >
              Delete
            </button>

            <h4 class="card-title">{{ formation.nom }} </h4>
            <p class="card-category">
              <span class="text-success"
                ><i class="fa fa-long-arrow-up"></i> Date de debut:
                {{ formation.dateDebut }}
              </span>
             
            </p> <br/><div class="text-gray">
              Description: 
              {{ formation.description }}</div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons"> </i>  Cout: {{ formation.cout }} Dh
              <br>
              <ng-container *ngIf="formation.entreprise === null; else elseBlock">
                Number of individus registered: {{ individusCounts[formation.id] || '0' }}
              </ng-container>
              <ng-template #elseBlock>
               Entreprise: {{ formation.entreprise.nom }}
              </ng-template>
              <br>
              <ng-container *ngIf="formation.formateur !== null">
                Formateur: {{ formation.formateur.name }}
               </ng-container>
              <br>
            </div>
          </div>
        </div>
      </div>
      <small class="btn btn-outline-success"
    >Green: Formateur and entreprise are affected</small
  >
  <small class="btn btn-outline-warning"
    >Orange: Formateur affected but entreprise NOT affected</small
  >
  <small class="btn btn-outline-danger"
    >Red: Formateur NOT affected</small
  >
    </div>
 <!-- <a href="/admin/dashboard#" title="Scroll up" class="up ml-4 mb-7" style="margin-bottom: 9px; font-size:130%; text-decoration:none; float:left; ">👆</a> -->
   
  </div>
  
</div>
