<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajouter une entreprise</h4>
            <div class="card-category">
              <!-- if we know the link we type normally, if like delete a list we use [] -->
              <a
                
                routerLink="/admin/entreprise/get"
                class="btn btn-outline-primary float-right"
                >All Entreprises</a
              >
            </div>
          </div>

          <div class="card-body">
            <form action="">
              <div class="form-group">
                <!-- NOM -->
                <label for="nom">Nom Entreprise</label>
                <!-- ngModel same name in ts -->
                <input
                  [(ngModel)]="nom"
                  class="form-control"
                  type="text"
                  name="nom"
                  id="nom"
                  required
                />

                <!-- ADDRESS -->
                <label for="address">Addresse</label>

                <textarea
                  rows="4"
                  [(ngModel)]="address"
                  class="form-control"
                  type="address"
                  name="address"
                  id="address"
                ></textarea>

                <!-- tel -->

                <label for="tel">Telephone</label>
                <input
                  [(ngModel)]="tel"
                  class="form-control"
                  type="text"
                  name="tel"
                  id="tel"
                />

                <!-- URL -->
                <label for="url">Site web</label>
                <input
                  [(ngModel)]="url"
                  class="form-control"
                  type="text"
                  name="url"
                  id="url"
                />

                <!-- email -->
                <label for="email">E-mail</label>
                <input
                  [(ngModel)]="email"
                  class="form-control"
                  type="text"
                  name="email"
                  id="email"
                  required
                />

                <div class="form-group text-center">
                <button
                  [disabled]="isSubmitting"
                  (click)="addEntreprise()"
                  type="button"
                  class=" btn btn-outline-info  mt-3" 
                >
                  Ajouter
                </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
