<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demande Detail</title>
   
    <!-- Add any additional stylesheets or fonts if needed -->
    <style>
      body {
        background-color: #f8f9fa;
      }

      .card {
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }

      .card-header {
        background-color: #344c67;
        color: #fff;
      }

      .btn-back {
        background-color: #0d117b;
        color: #fff;
      }

      .btn-back:hover {
        background-color: #285c9b;
      }

      .Demande-image {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-header text-center mt-10">
          <h2 class="mb-0 pt-6">{{ Demande.id }}</h2>
          <a class="pt-6 float-right  btn btn-outline-info mt-3" routerLink="/admin/dashboard">
            Retour
          </a>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="text-muted">Categorie:</label>
                <p>{{ Demande.formateur.name }}</p>
              </div>

              <div class="form-group">
                <label class="text-muted">Objectif:</label>
                <p>{{ Demande.formation.nom }}</p>
              </div>

              <div class="form-group">
                <label class="text-muted">Description:</label>
                <p>{{ Demande }}</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="img">
                  <label class="text-muted">Image:</label><br/>
                  <img
                    class="pt-4"
                    *ngIf="Demande !== null; else defaultImage"
                    [src]="
                      'http://localhost:8080/Demande/' +
                      Demande.id +
                      '/image'
                    "
                    width="200"
                    height="150"
                    (error)="handleImageError()"
                    (load)="handleImageLoad()"
                  />
                  <ng-template #defaultImage>
                    <img
                      class="pt-4"
                      src="/assets/img/angular.png"
                      width="200"
                      height="150"
                    />
                  </ng-template>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="text-muted">Duree:</label>
                <p>{{ Demande }}</p>
              </div>

              <div class="form-group">
                <label class="text-muted">Cout:</label>
                <p>{{ Demande }}</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="text-muted">Date de debut de Demande:</label>
                <p>{{ Demande }}</p>
              </div>

              <div class="form-group">
                <label class="text-muted">Date de fin de Demande:</label>
                <p>{{ Demande }}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="text-muted"
                  >Nom de formateur associe avec cette Demande::</label
                >
                <p *ngIf="Demande.formateur!==null">{{ Demande.formateur.name }}</p>
              </div>

              <div class="form-group">
                <label class="text-muted"
                  >Entreprise qui benefice de cette Demande:</label
                >
                <p *ngIf="Demande!==null">{{ Demande.entreprise.nom }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

     
    </div>

    <!-- Bootstrap and other script imports -->
   
  </body>
</html>
