<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger sticky-top fixed">
            <h4 class="card-title">Modifier un individu</h4>
            <div class="card-category">
              <a class="btn btn-outline-info float-right" routerLink="/admin/individu/get">Toutes les Individu</a>
            </div>
          </div>

          <div class="card-body">
            <form action="">
              <div class="form-group">
                <!-- Nom -->
                <label for="nom">Nom</label>
                <input [(ngModel)]="individu.nom" class="form-control" type="text" name="nom" id="nom" />

                <!-- Prenom -->
                <label for="prenom">Prenom</label>
                <input [(ngModel)]="individu.prenom" class="form-control" type="text" name="prenom" id="prenom" />

                <!-- Email -->
                <label for="email">E-mail</label>
                <input [(ngModel)]="individu.email" class="form-control" type="email" name="email" id="email" />

                <!-- Tele -->
                <label for="tel">Telephone</label>
                <input [(ngModel)]="individu.tele" class="form-control" type="text" name="tel" id="tel" />

                <!-- Ville -->
                <label for="url">Ville</label>
                <input [(ngModel)]="individu.ville" class="form-control" type="text" name="ville" id="ville" />

                <!-- Date Naissance -->
                <label for="dateNaissance">Date De Naissance</label>
                <input [(ngModel)]="individu.dateNaissance" class="form-control" type="text" name="dateNaissance"
                  id="dateNaissance" />
                <div class="form-group text-center">
                  <button [disabled]="isSubmited" (click)="updateIndividu()" type="button"
                    class="btn btn-outline-info  mt-3">
                    Modifier
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>